# --- Directories ---
# Ignore directories for personal notes and reference materials
/notes/
/books/
/.vscode/

# --- Python Specific ---
# Ignore Python cache files and compiled bytecode
__pycache__/
*.pyc

# --- Compiled Artifacts & Binaries ---
# Ignore compiled C++ modules for all platforms
*.pyd
*.so

# Ignore executables
*.exe

# Ignore temporary Windows DLLs copied for local testing
*.dll

# --- Data & Documents ---
# Ignore data files and document exports
*.csv
*.pdf
*.webm

# --- IDE & Editor Specific ---
# Ignore Jupyter Notebook checkpoints and cache
.ipynb_checkpoints/

# --- User-Specific ---
*.ipynb